.alojamiento-detail {
  .hero {
    position: relative;
    .cover {
      width: 100%;
      height: auto;
      border-radius: 8px;
      display: block;
    }
    .hero-text {
      margin-top: .75rem;
    }
  }
  .descripcion { margin-top: 1rem; }
}
